* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
html {
  font-size: 10px;
  font-family: "DM Sans", sans-serif;
}
body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}
a {
  text-decoration: none;
}
.btn {
  width: 170px;
  height: 62px;
  background: #5d3bee;
  border: none;
}
.btn span {
  text-align: center;
  color: #fdfdfd;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
}
/* Header */
.header {
  background: #fbfaff;
  padding-top: 20px;
  padding-bottom: 44px;
}
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__main--email {
  display: flex;
  align-items: center;
}
.header__main--list ul {
  display: flex;
}
.header__main--img-email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px rgb(93, 59, 238, 0.2) solid;
}
.header__main--img-email > img {
  width: 24px;
  height: 16px;
}
.header__main--block-email a {
  width: 202px;
  height: 33px;
  color: #080415;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 136.364% */
  text-decoration-line: underline;
}
.header__main--logo img {
  width: 100px;
  height: 100px;
}
.header__main--list li a {
  color: #51586a;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.2s;
}
.header__main--list li:hover a {
  color: #333;
  text-decoration: underline;
}
.header__main--list li + li {
  margin-left: 43px;
}
/* Hero */
.hero {
  background: #fbfaff;
}
.hero--extra img {
  width: 90%;
}
.hero__main--img-block {
  position: relative;
  z-index: 1;
  width: 514px;
  height: 705px;
}
.hero__main--img-block .hero__main--img-main {
  position: relative;
  z-index: 1;
  width: 514px;
  height: 705px;
}
.hero__main--extra-img-default,
.hero__main--extra-img-sm,
.hero__main--extra-img-so-long,
.hero__main--extra-img-long {
  opacity: 0.1 !important;
}
.hero__main--extra-img-sm {
  position: absolute;
  top: 0;
  left: 168.68px;
}
.extra-img-sm {
  width: 114.5px;
}

.hero__main--extra-img-default {
  position: absolute;
  bottom: 254px;
  left: -49.56px;
}
.extra-img-default {
  width: 233.5px;
}
.hero__main--extra-img-so-long {
  position: absolute;
  top: 14px;
  left: -85px;
}
.extra-img-so-long {
  width: 571px;
}
.hero__main--extra-img-long {
  position: absolute;
  top: 234px;
  right: 3px;
}
.extra-img-long {
  width: 285.5px;
}
.header__main--info {
  position: relative;
  margin-top: 137px;
}
.header__main--title {
  width: 500px;
  height: 164px;
  margin-bottom: 20px;
  color: #080415;
  font-size: 8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 76px; /* 95% */
  letter-spacing: -3.2px;
}
.header__main-decs {
  width: 370px;
  margin-bottom: 50px;
  color: #51586a;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.header__main--action {
  display: flex;
  align-items: center;
}
.header__main--action a {
  display: inline-block;
  margin-left: 30px;
  color: #080415;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
  text-decoration-line: underline;
}
.header__main-btn {
  cursor: pointer;
  transition: opacity 0.5s;
}
.header__main-btn:hover {
  opacity: 0.8;
}
.header__main--media {
  display: flex;
  align-items: center;
  width: 277px;
  justify-content: space-between;
  margin-top: 109px;
}
.header__main--media span {
  color: #51586a;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
}
.header__main--media-block {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.header__main--media-block:hover {
  opacity: 0.5;
}
/* clients */
.clients {
  padding-top: 98px;
  padding-bottom: 133px;
}
.main__clients {
  display: flex;
  justify-content: space-between;
  height: 113px;
}
.main__clients--media-block {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 105px;
}
.main__clients--media-top {
  display: flex;
  margin-bottom: 36px;
}
.main__clients--media-bottom {
  display: flex;
}
.main__clients--title {
  position: relative;
  width: 253px;
  height: 100px;
  margin-left: 98px;
  color: #080415;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 119.048% */
  letter-spacing: -1.68px;
}
.main__clients--title::before {
  position: absolute;
  content: "";
  top: 25%;
  left: -98px;
  width: 86px;
  height: 2px;
  background-color: #5d3bee;
}
.main__clients--media {
  display: flex;
  align-items: center;
}
.main__clients--media + .main__clients--media {
  margin-left: 70px;
}
.main__clients--media-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__clients--media-logo img {
  height: 36px;
  width: 36px;
  margin-right: 13px;
  object-fit: cover;
}
.main__clients--media-logo.google img {
  width: 30px;
  height: 32px;
}
.main__clients--media-logo.warner-bros {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.main__clients--media-logo.warner-bros img {
  width: 14px;
  height: 17px;
}
.main__clients--media-bottom .main__clients--media-logo img {
  width: 26px;
  height: 26px;
}
/* Special */
.special {
  padding-bottom: 140px;
}
.main__special--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.main__special--title {
  transform: translateX(-11px);
  margin-bottom: 20px;
  color: #080415;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 66px; /* 117.857% */
  letter-spacing: -2.24px;
}
.main__special--decs {
  width: 534px;
  color: #51586a;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.main__special--item {
  cursor: pointer;
  padding: 33px 42px 32px 43px;
  background: #fbfaff;
  transition: scale 0.175s linear, box-shadow 0.175s;
}
.main__special--item:hover {
  scale: 1.01;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.main__special--item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  fill: #fff;
  border: 1px rgb(8, 4, 21, 0.05) solid;
}
.main__special--item-img img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.main__special--item-img.pencil {
  position: relative;
  z-index: 1;
}
.main__special--item-img.pencil img {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 0%;
}
.main__special--extra-img {
  position: absolute;
  top: 20px;
  z-index: 0;
}
.main__special--item-title {
  margin-bottom: 15px;
  color: #080415;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
  letter-spacing: -1.28px;
}
.main__special--item-decs {
  width: 285px;
  color: #51586a;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
/* Project */
.project {
  background: #5d3bee;
  padding-top: 86px;
  padding-bottom: 86px;
}
.main__project--title {
  color: #fff;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 66px; /* 117.857% */
  letter-spacing: -2.24px;
}
.main__project--decs {
  width: 370px;
  margin-top: 31px;
  margin-left: 37.5px;
  color: #ccc;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.main__project--list-item {
  padding-top: 70px;
}
.main__project--item {
  background: #fbfaff;
  height: 234px;
  flex-shrink: 0;
}
.main__project--item {
  cursor: pointer;
  transition: transform 0.5s;
  margin-bottom: 30px;
}
.main__project--item:hover {
  transform: translate(0, -10px);
}
.main__project-item-cover {
  display: flex;
  padding: 24px 23px 23px 34px;
}
.main__project--item-img-block {
  position: relative;
  z-index: 1;
}
.main__project--extra-img-1 {
  position: absolute;
  z-index: 0;
  opacity: 0.05;
  top: 22px;
  left: -115px;
}
.main__project--extra-img-2 {
  position: absolute;
  z-index: 0;
  opacity: 0.05;
  top: -26px;
  left: -115px;
}
.main__project--extra-img-3 {
  position: absolute;
  z-index: 0;
  opacity: 0.05;
  top: -24px;
  left: 180px;
}
.main__project--extra-img-4 {
  position: absolute;
  z-index: 0;
  opacity: 0.05;
  top: -54px;
  left: -17px;
}
.main__project--extra-img-5 {
  position: absolute;
  z-index: 0;
  opacity: 0.05;
  top: -24px;
  left: 41px;
}
.main__project--extra-img-6 {
  position: absolute;
  z-index: 0;
  opacity: 0.05;
  bottom: -41px;
  left: 161px;
}
.main__project--extra-img-7 {
  position: absolute;
  z-index: 0;
  opacity: 0.05;
  bottom: -28px;
  left: -55px;
}
.main__project--item-img-block .main__project--item-img {
  position: relative;
  z-index: 1;
  width: 246px;
  height: 187px;
}
.main__project--item-info {
  margin-top: 20px;
  padding-right: 47px;
}
.main__project--item-title {
  margin-bottom: 10px;
  color: #080415;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
  letter-spacing: -1.28px;
}
.main__project--item-decs {
  width: 220px;
  margin-bottom: 20px;
  color: #51586a;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
}
.main__project--item-link {
  transition: color 0.4s;
  color: #080415;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
  text-decoration-line: underline;
}
.main__project--item-link:hover {
  color: #7d2f79;
}
.main__project--action {
  position: relative;
  display: block;
  transition: background-image 0.4s;
  cursor: pointer;
  margin: 50px auto 0 auto;
  background-color: #fff;
}
.main__project--action::before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  right: 0;
  width: 0;
  height: 62px;
  transition: width 0.5s;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.main__project--action:hover::before {
  width: 170px;
  left: 0;
}
.main__project--action:hover > span {
  color: #fff;
}
.main__project--action span {
  position: relative;
  z-index: 2;
  transition: color 0.4s;
  color: #080415;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
}
/* interactive */
.interactive {
  padding-top: 140px;
}
.main__interactive--span-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.main__interactive--span {
  display: inline-block;
  margin-right: 9px;
  color: #5d3bee;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
  letter-spacing: -1.28px;
}
.main__interactive--img img {
  width: 30px;
  height: 30px;
}
.main__interactive--title {
  margin-bottom: 15px;
  text-align: center;
  color: #080415;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 66px; /* 117.857% */
  letter-spacing: -2.24px;
}
.main__interactive--desc {
  margin: 0px auto 70px auto;
  text-align: center;
  width: 570px;
  color: #51586a;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.main__interactive--rating {
  display: flex;
  padding: 20px 0;
  justify-content: space-evenly;
  width: 946px;
  margin: 0 auto;
  border-top: 1px rgb(8, 4, 21, 0.2) solid;
  border-bottom: 1px rgb(8, 4, 21, 0.2) solid;
}
.main__interactive--rating-desc {
  color: #080415;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 76px; /* 135.714% */
  letter-spacing: 1.68px;
  text-decoration-line: underline;
  text-underline-offset: 7px;
  /* Text underline-offset padding top 7px */
  text-decoration-thickness: 5%;
}
.main__interactive--rating-span {
  color: #51586a;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.main__interactive-rating-img {
  position: relative;
  margin-top: 70px;
}
.main__interactive--rating-extra {
  position: absolute;
  top: 259px;
  left: 530px;
}
.main__interactive--rating-extra .main__interactive--rating-img-extra {
  width: 111px;
  height: 111px;
}
.main__interactive-rating-img .main__interactive--rating-img-main {
  width: 1170px;
  height: 628px;
}
.main__interactive--extra-block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  right: 10px;
  width: 170px;
  height: 62px;
  background: #fff;
  cursor: pointer;
}
.main__interactive--extra-block::before {
  position: absolute;
  z-index: 1;
  content: "";
  width: 0;
  height: 62px;
  top: 0;
  right: 0;
  transition: width 0.5s;
  background-image: linear-gradient(
    90.1deg,
    rgba(84, 212, 228, 1) 0.2%,
    rgba(68, 36, 164, 1) 99.9%
  );
}
.main__interactive--extra-block:hover::before {
  width: 170px;
  left: 0;
}
.main__interactive--extra-block:hover span {
  color: #fff;
}
.main__interactive--extra-block span {
  position: relative;
  z-index: 2;
  color: #51586a;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
  text-transform: uppercase;
  transition: color 0.5s;
}
