/* Pc */
@media screen and (min-width: 992px) {
  .header__main--mobile-header {
    display: none;
  }
  .header__main--input {
    display: none;
  }
  .main__choice.main__choice-special {
    display: none;
  }
  .hero__main--extra-img-mobile {
    display: none;
  }
  .main__choice.main__choice-atm {
    display: none;
  }
}
/* Mobile Tablet */
@media screen and (max-width: 991.98px) {
  .header__main {
    justify-content: none;
    border-bottom: 1px solid #d6d3e2;
  }
  .header__main--block-email {
    display: none;
  }
  .header__main--list {
    display: none;
  }
  .header__main--email {
    order: 2;
    margin-left: auto;
  }
  .header__main--choice-nav {
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
  .header__main--btn-choice {
    width: 15px;
    height: 6px;
    border-top: 2px solid #5d3bee;
    border-bottom: 2px solid #5d3bee;
  }
  .header__main--info {
    margin-top: 0;
  }
  .header__main--media {
    margin-top: 30px;
  }
  .header__main--logo {
    order: 1;
  }
  .hero__main--hero-left {
    order: 2;
  }
  .hero__main--hero-right {
    order: 1;
  }
  .hero__main--hero-right .header__main--title {
    width: 260px;
    height: auto;
    margin-bottom: 20px;
    color: #080415;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 119.048% */
    letter-spacing: -1.68px;
  }
  .hero__main--hero-right .header__main-decs {
    width: 318px;
    margin-bottom: 20px;
    color: #51586a;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }
  .hero__main--img-block {
    position: relative;
    margin: 0 auto;
  }
  .hero__main--extra-img-block-mobile-1,
  .hero__main--extra-img-block-mobile-2,
  .hero__main--extra-img-block-mobile-3,
  .hero__main--extra-img-block-mobile-4 {
    position: absolute;
  }
  .hero__main--extra-img-block-mobile-1 img,
  .hero__main--extra-img-block-mobile-2 img,
  .hero__main--extra-img-block-mobile-3 img,
  .hero__main--extra-img-block-mobile-4 img {
    opacity: 0.1;
  }
  .hero__main--extra-img-block-mobile-1 {
    bottom: 34.35px;
    left: -69.07px;
  }
  .hero__main--extra-img-block-mobile-2 {
    top: 0;
    left: 92.96px;
  }
  .hero__main--extra-img-block-mobile-3 {
    top: 0;
    left: -55.04px;
  }
  .hero__main--extra-img-block-mobile-4 {
    bottom: 14px;
    right: -35.04px;
  }
  .hero__main--img-block,
  .hero__main--img-block .hero__main--img-main {
    width: 259px;
    height: 355px;
  }
  .header__main--btn-choice-list {
    position: fixed;
    background-color: #333;
    inset: 40% 0 0;
  }
  .header__main--mobile-header {
    display: none;
    position: fixed;
    z-index: 9;
    background-color: rgba(114, 111, 111);
    width: 300px;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .header__main--input {
    display: none;
  }
  .main__choice.main__choice-atm {
    display: none;
  }
  /* Mobile */
  .hero__main--extra-img {
    display: none;
  }

  .header__main--mobile-logo img {
    height: 100px;
    width: 100px;
  }
  .header__main--mobile-list {
    margin-top: 40px;
    margin-left: 40px;
  }
  .header__main--mobile-list li + li {
    margin-top: 20px;
  }
  .header__main--mobile-list li a {
    color: #212327;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .main__clients {
    flex-direction: column;
  }
  .main__clients .main__clients--title {
    margin: 0 auto 52px auto;
    color: #080415;
    text-align: center;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 121.429% */
    letter-spacing: -1.12px;
  }
  .main__clients .main__clients--title::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .main__clients--media-block {
    justify-content: space-between;
    flex-direction: row;
    margin-left: 27px;
  }
  .main__clients--media-top {
    margin-bottom: 0px;
  }
  .main__clients--media + .main__clients--media {
    margin-left: 0px;
  }
  .main__clients--media-top {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .main__clients--media-bottom {
    flex-direction: column;
  }
  .main__clients--media + .main__clients--media {
    margin-top: 53px;
  }
  .main__clients {
    height: auto;
  }
  .main__special--title {
    color: #080415;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 116.667% */
    letter-spacing: -1.44px;
  }
  .main__special--decs {
    width: 350px;
    color: #51586a;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }
  .special-list {
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .main__choice.main__choice-special {
    margin-top: 30px;
  }
  .main__project--title {
    width: 301px;
    margin: 0px auto 20px auto;
    color: #fff;
    text-align: center;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 116.667% */
    letter-spacing: -1.44px;
  }
  .main__project--decs {
    width: 350px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }
  .main__project--item {
    height: auto;
  }
  .main__project-item-cover {
    padding: 20px 15px;
  }
  .main__project--item-img-block .main__project--item-img {
    width: 122px;
    height: 93px;
  }
  .main__project--item-title {
    color: #080415;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 141.667% */
    letter-spacing: -0.96px;
  }
  .main__project--item-decs {
    width: 176px;
    color: #51586a;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  .main__project--item-link {
    color: #080415;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 175% */
    text-decoration-line: underline;
  }
  .main__project--item-img-extra {
    display: none;
  }
  .main__project--item-info {
    margin-top: 0;
  }
  .main__project--item-img-block {
    display: flex;
    align-items: center;
  }
  .main__project--item-main {
    margin: 0 auto;
  }
  .main__interactive--span {
    color: #5d3bee;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 200% */
    letter-spacing: -0.8px;
  }
  .main__interactive--title {
    color: #080415;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 116.667% */
    letter-spacing: -1.44px;
  }
  .main__interactive--desc {
    width: 350px;
    color: #51586a;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }
  .main__interactive--rating {
    width: 350px;
    height: 151px;
  }
  .main__interactive--rating-desc {
    color: #080415;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 140% */
    letter-spacing: 0.9px;
    text-decoration-line: underline;
  }
  .main__interactive--rating-span {
    width: 74px;
    color: #51586a;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
  }
  .main__interactive-rating-img .main__interactive--rating-img-main {
    width: 350px;
    height: 276px;
    object-fit: cover;
  }
  .main__interactive--rating-extra {
    top: 93px;
    left: 140px;
  }
  .main__interactive--rating-extra .main__interactive--rating-img-extra {
    width: 77px;
    height: 77px;
    flex-shrink: 0;
  }

  .main__interactive--extra-block {
    width: 118px;
    height: 44px;
  }
  .main__interactive--extra-block::before {
    position: absolute;
    z-index: 1;
    content: "";
    width: 0;
    height: 44px;
    top: 0;
    right: 0;
    transition: width 0.5s;
    background-image: linear-gradient(
      90.1deg,
      rgba(84, 212, 228, 1) 0.2%,
      rgba(68, 36, 164, 1) 99.9%
    );
  }
  .main__interactive--extra-block:hover:before {
    width: 118px;
  }
  .main__interactive--extra-block span {
    color: #51586a;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 250% */
    text-transform: uppercase;
  }
  .main__feedback--title {
    margin: 0 auto 20px auto;
    color: #080415;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 116.667% */
    letter-spacing: -1.44px;
  }
  .main__feedback--desc {
    width: 350px;
    margin-bottom: 40px;
    color: #51586a;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }
  .main__feedback--people-group {
  }
  .main__feedback--people {
    width: 350px;
    height: 114px;
    color: #51586a;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
  }
  .main__feedback--user {
    margin-top: 54px;
  }
  .main__question--title {
    width: 316px;
    margin-bottom: 40px;
    color: #080415;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 116.667% */
    letter-spacing: -1.44px;
  }
  .main__question--item-info {
    padding-left: 0;
  }
  .main__question--item-active {
    width: 33px;
    height: 33px;
    flex-shrink: 0;
  }
  .main__question--item-info {
    color: #080415;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 125% */
    letter-spacing: -0.96px;
  }
}
/* Tablet  */
@media screen and (max-width: 991.98px) and (min-width: 768px) {
}
/* Mobile */
@media screen and (max-width: 767.98px) {
  .hero__main {
    margin-left: 20px;
  }
  .main__question--item {
    height: auto;
  }
  .main__question--item-info {
    width: 90%;
  }
  .main__question--item-active {
    transition: transform 0.5s;
  }
  .main__question {
    height: auto;
  }
  .main__question--input-checked:checked
    ~ .main__question--item
    .main__question--item-active {
    transform: translateY(-33px);
  }
  .hero__main--img-block {
    position: relative;
    margin: 0 auto;
  }
  .main__question--active-child-plus {
    transform: translateX(8px);
  }
  .main__atmosphere--title {
    color: #080415;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 116.667% */
    letter-spacing: -1.44px;
  }
  .main__atmosphere--decs {
    width: 350px;
    margin-bottom: 10px;
    color: #51586a;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }
  .main__atmosphere--link {
    color: #5d3bee;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 200% */
    letter-spacing: -0.8px;
    text-decoration-line: underline;
  }
  .main__atmosphere-item-main {
    margin: 0 auto;
  }
  .main__atmosphere-list-main {
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .main__atmosphere-item {
    margin-left: 15px;
  }
  .main__choice.main__choice-atm {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
  }
  .main__cta--img-block > img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
  }

  .main__cta--title {
    width: 225px;
    color: #080415;
    text-align: center;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 116.667% */
    letter-spacing: -1.44px;
  }
  .main__cta--desc {
    width: 350px;
    color: #51586a;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }
  .footer__main {
   flex-direction: column;
  }
  .footer__main--list {
    order: 2  ;
  }
  .footer__main--logo {
    order: 1;
  }
  .footer__main--email {
    order: 3;
  }
  .interactive {
    padding-bottom: 210px;
  }
  .feedback {
    padding-top: 200px;
  }
}
